.newsletter{
    background-color: #80dfff;
}

.newsletter h2{
    padding-top: 30px;
}
.newsletter input{
    margin: 15px;
    border-radius: 25px;
    border: 0.0px solid black;
    width: 150px;
  height: 30px;
  padding: 10px;
  /* background: #73AD21; */
}

.newsletter button{
    /* float: right; */
    margin-left: 1000px;
    margin: 20px;
    border-radius: 25px;
    border: 0px solid black;
    width: 250px;
  height: 50px;
  padding: 10px;
}